@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   not supported by any browser */
}

/*------end-----------*/
/*and*/
/*Image background}*/
.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*------------------*/
input {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #303030 !important;
  /* Цвет фона */
  -webkit-text-fill-color: #707070 !important;
  /* цвет текста */
  color: #707070 !important;
  /* цвет текста */
}

html,
body {
  height: 100%;
  background: #303030;
}

body.lock {
  overflow: hidden;
  background-color: #303030;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #303030;
}

.fullscreen {
  min-height: 100vh;
  background-color: #303030;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__body {
  width: 100%;
  min-height: 49.31507vw;
  position: relative;
  z-index: 1;
}

.top__logo {
  width: 29.8%;
  display: inline-block;
  margin: 4.4% 35.1% 0;
  padding-left: 4.58385%;
}

.top__logo img {
  width: 100%;
}

.top__clock {
  position: absolute;
  top: 20.40816%;
  width: 25vw;
  height: 25vw;
  margin: 0 37.37%;
}

.top__clock #hour {
  position: absolute;
  width: 100%;
  height: 100%;
}

.top__clock #minute {
  position: absolute;
  width: 100%;
  height: 100%;
}

.top__clock .second {
  position: absolute;
  height: 3.125vw;
  width: 3.125vw;
  left: 11.19792vw;
  top: 13.4375vw;
}

.top__clock .second img {
  height: 80%;
  width: 80%;
}

.top__clock img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.top__title {
  position: absolute;
  bottom: 32.04082vh;
  width: 74%;
  margin: 0 13%;
  font-family: Ubuntu;
  text-align: center;
  font-size: 3.1vw;
  font-weight: 400;
  text-transform: uppercase;
  color: #9d7834;
}

.top__scroll {
  position: absolute;
  width: 100%;
  top: 83.67347%;
  display: block;
  margin: 0 auto;
  -webkit-animation: 1s linear 0s infinite alternate scrolling;
  animation: 1s linear 0s infinite alternate scrolling;
}

.top__scroll a {
  text-align: center;
  display: block;
  width: 100%;
  font-family: Ubuntu;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #454545;
}

.top__scroll a:after {
  content: "";
  background-image: url(/img/down_192.png);
  display: block;
  width: 46px;
  height: 25px;
  margin: 14px auto 0;
}

.top__menu {
  position: absolute;
  top: 26.83673%;
  left: 10.36458%;
  width: 79.21875%;
  height: 70.40816%;
  background-color: #303030;
  z-index: 5;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #454545;
}

.top__menu-h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20.3%;
          flex: 0 0 20.3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 7;
}

.top__boxMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 79.7%;
          flex: 0 0 79.7%;
}

.top__menu-imgBox {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 99.13043%;
  width: 67.65286%;
}

.top__menu-imgBox img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  bottom: 0px;
  width: 100%;
}

.top__menu-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.5%;
          flex: 0 0 25.5%;
  padding-left: 8.3%;
  margin-top: -0.4%;
  z-index: 7;
}

.top__menu-nav a {
  font-family: Ubuntu;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4b4b4;
}

@media (max-width: 980px) {
  .top__menu-nav a {
    font-size: calc(16px + 23.8 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 980px) {
  .top__menu-nav a {
    font-size: calc(16px + 14 * (100vw / 1920));
  }
}

.top__menu-nav li {
  margin-bottom: 13.5%;
}

.top__menu-nav li:last-child {
  margin: 0;
}

.top__menu-nav li a {
  position: relative;
}

.top__menu-nav li a:hover {
  font-weight: 400;
  color: #b69b67;
  overflow: hidden;
}

.top__menu-nav li a:hover span:before {
  content: "";
  display: block;
  position: absolute;
  top: -10%;
  background-color: #b69b67;
  width: 100%;
  height: 1px;
}

.top__menu-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74.5%;
          flex: 0 0 74.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__menu-log {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45.8%;
          flex: 0 0 45.8%;
  z-index: 7;
  margin-top: -0.5%;
}

.top__menu-log a {
  font-family: Ubuntu;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #695631;
}

@media (max-width: 980px) {
  .top__menu-log a {
    font-size: calc(16px + 23.8 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 980px) {
  .top__menu-log a {
    font-size: calc(16px + 14 * (100vw / 1920));
  }
}

.top__menu-log li {
  margin-bottom: 6.9%;
}

.top__menu-log li a:hover {
  color: #b4b4b4;
}

.top__menu-search {
  margin-top: -0.6%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43%;
          flex: 0 0 43%;
  z-index: 7;
}

.top__menu-search input[type="text"] {
  border-bottom: 1px solid #cccccc;
  width: 100%;
  background: url(/img/search_430.png) right no-repeat;
  background-size: contain;
}

@media (max-width: 980px) {
  .top__menu-search input[type="text"] {
    font-size: calc(16px + 23.8 * ((100vw - 320px) / 1920));
  }
}

@media (min-width: 980px) {
  .top__menu-search input[type="text"] {
    font-size: calc(16px + 14 * (100vw / 1920));
  }
}

.field {
  width: 100%;
  font-family: Ubuntu;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #454545;
  background-color: #00000000;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-family: PlayfairDisplaySC;
  font-stretch: ultra-condensed;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
}

.box {
  border: 2px solid #454545;
  background: #303030;
  position: absolute;
  top: 26.83673vh;
  right: 10.41667vw;
  width: 82px;
  height: 82px;
  z-index: 6;
  cursor: pointer;
}

.box:hover {
  border: 2px solid #b59c6b;
}

.box:hover .header_burger:before,
.box:hover .header_burger:after {
  background-color: #b59c6b;
}

.box:hover .header_burger span {
  background-color: #b59c6b;
}

.header_burger {
  position: relative;
  display: block;
  width: 82px;
  height: 82px;
}

.header_burger span {
  position: absolute;
  background-color: #999999;
  left: 13px;
  width: 52px;
  height: 2px;
  top: 38px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header_burger:before,
.header_burger:after {
  content: "";
  background-color: #999999;
  position: absolute;
  width: 52px;
  height: 2px;
  left: 13px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.header_burger:before {
  top: 20px;
}

.header_burger:after {
  bottom: 24px;
}

.header_burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 38px;
  left: 4px;
  width: 70px;
}

.header_burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 42px;
  left: 4px;
  width: 70px;
}

.header_burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__nav.active {
  top: 0;
  overflow: auto;
}

@-webkit-keyframes scrolling {
  from {
    top: 83.67347%;
  }
  to {
    top: 86.22449%;
  }
}

@keyframes scrolling {
  from {
    top: 83.67347%;
  }
  to {
    top: 86.22449%;
  }
}

h3 {
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4b4b4;
  font-stretch: ultra-condensed;
}

.popupSocialButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30.69705%;
  height: 73%;
  border: 1px solid;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 0px 0px 4.02145%;
}

.popupSocialButton:first-child {
  margin: 0px;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #303030a0;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.popup__body {
  margin: 0 28vw;
  position: absolute;
  top: 263px;
  z-index: 5;
  width: 43.72093vw;
  background-color: #303030;
  border: 1px solid #b4b4b4;
  padding: 1.808vw 2.531vw 2.531vw 2.531vw;
}

.popup__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.popup__top-h2 {
  margin-bottom: 4.23729%;
}

.popup__top-h3 {
  margin-bottom: 2.54237%;
}

.popup__top-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5.20833vw;
  margin-bottom: 20px;
}

.popup__bottom-h3 {
  margin-bottom: 1.04167vw;
}

.popup__form input[type="text"] {
  padding-left: 1.40625vw;
}

.popup__form input[type="password"] {
  padding-left: 1.40625vw;
}

.popup__form input[type="email"] {
  padding-left: 1.40625vw;
}

.popup__form > .field {
  height: 3.771vw;
  border: 1px solid #b4b4b4;
  margin-bottom: 1.25vw;
}

.popup__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.password {
  display: inline-block;
  width: 64.6%;
  margin: 0px 4% 0px 0px;
}

.password.in {
  width: 100%;
}

.button {
  position: relative;
  width: 30.4%;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #303030;
  height: 3.77261vw;
  background-color: #b69b67;
}

.button:hover {
  color: #b69b67;
  background-color: #303030;
  border: 1px solid #b69b67;
}

.button.in {
  margin: 0 35%;
}

.facebook {
  color: #3b5998;
  border-color: #3b5998;
}

.facebook:hover {
  color: #303030;
  background-color: #3b5998;
}

.google {
  color: #dd4b39;
  border-color: #dd4b39;
}

.google:hover {
  color: #303030;
  background-color: #dd4b39;
}

.twitter {
  border-color: #1da1f2;
  color: #1da1f2;
}

.twitter:hover {
  color: #303030;
  background-color: #1da1f2;
}

#popup_in {
  opacity: 0;
  visibility: hidden;
}

#popup_in.open {
  opacity: 1;
  visibility: visible;
}

#popup_up {
  opacity: 0;
  visibility: hidden;
}

#popup_up.open {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 980px) {
  .box {
    top: 16.32653vh;
    right: 13.54167vw;
    width: 44px;
    height: 44px;
  }
  .header_burger {
    width: 30px;
    height: 20px;
    margin: 10px 5px;
  }
  .header_burger span {
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header_burger:before,
  .header_burger:after {
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active:before {
    width: 100%;
    left: 0;
    top: 9px;
  }
  .header_burger.active:after {
    bottom: 9px;
    left: 0;
    width: 100%;
  }
  .top__scroll {
    bottom: 700px;
  }
}

@media (max-width: 980px) and (max-width: 980px) {
  .top__scroll a {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 980px) and (min-width: 980px) {
  .top__scroll a {
    font-size: calc(14px + 6 * (100vw / 1920));
  }
}

@media (max-width: 980px) {
  .top__scroll a:after {
    content: "";
    background-image: url(/img/down_192.png);
    display: block;
    width: 46px;
    height: 25px;
    margin: 4px auto 0;
  }
  .top__menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .top__menu-h2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25.3%;
            flex: 0 0 25.3%;
  }
  .top__menu-nav {
    height: 65.21739%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .top__menu-nav li {
    margin: 0px 0px 7% 0px;
  }
  .top__menu-log {
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60.3%;
            flex: 0 0 60.3%;
  }
  .top__menu-box {
    height: 65.21739%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top__menu-search {
    width: 36.73469vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    z-index: 7;
  }
  .top__menu-search input[type="text"] {
    border-bottom: 1px solid #cccccc;
    width: 100%;
  }
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__title {
  margin: 5.2vw 0px 2.3vw 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 120px;
  z-index: 1;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__menu {
  margin: 0px 0px 0px 225px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
          flex: 0 0 21%;
}

.services__menuUnit {
  width: auto;
  font-family: Ubuntu;
  margin-top: 65px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  color: #b4b4b4;
  cursor: pointer;
}

.services__menuUnit:first-child {
  margin-top: 20px;
}

.services__menuUnit.active {
  position: relative;
  font-size: 60px;
  color: #b69b67;
}

.services__menuUnit.active span {
  position: relative;
  display: inline;
}

.services__menuUnit.active span:before {
  content: "";
  position: absolute;
  width: 100%;
  top: -1px;
  display: block;
  height: 1px;
  background-color: #b69b67;
}

.services__menuUnit.active span:after {
  content: "";
  position: absolute;
  top: 63px;
  display: block;
  width: 337px;
  height: 1px;
  background-color: #454545;
}

.services__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__info-content {
  height: 75%;
  position: absolute;
  padding: 55px 0px 0px 5.209%;
}

.services__infoUnit {
  display: block;
  width: 500px;
  text-align: justify;
  font-family: Ubuntu;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  color: #b4b4b4;
  visibility: hidden;
}

.services__infoUnit a {
  display: inline;
  color: #b69b67;
  width: 10%;
  margin: 10px;
}

.services__infoUnit.active {
  visibility: visible;
}

.services__info-img {
  width: 100%;
}

.services__imgUnit {
  display: none;
}

.services__imgUnit img {
  width: 100%;
}

.services__imgUnit.second {
  margin: 7vw 0 0 16.23%;
}

.services__imgUnit.four {
  margin: -20vw 0px 0px -5.4%;
  z-index: 2;
}

.services__imgUnit.five {
  margin: -10vw 0px 0px 6%;
  z-index: 2;
}

.services__imgUnit.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*img {
    width: 100%;
    height: 100%;
  }*/
.h2 {
  font-family: PlayfairDisplaySC;
  font-size: 3.1vw;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
}

@media (max-width: 1710px) {
  .services__menuUnit {
    font-size: 25px;
  }
  .services__menuUnit.active {
    font-size: 50px;
  }
}

.contebt {
  display: block;
}

@media (max-width: 1500px) {
  .h2 {
    font-size: 4vw;
  }
  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__menu {
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services__menuUnit {
    font-size: 20px;
    margin: 45px 0 0 0;
  }
  .services__menuUnit:first-child {
    margin: 45px 0 0 0;
  }
  .services__menuUnit.active {
    font-size: 35px;
  }
  .services__menuUnit.active span::after {
    display: none;
  }
  .services__infoUnit {
    font-size: 15px;
  }
  .services__imgUnit.first img {
    width: 70%;
  }
  .services__imgUnit.second {
    margin: 7vw 0 0 23.23%;
  }
  .services__imgUnit.second img {
    width: 70%;
  }
  .services__imgUnit.four {
    margin: -18vw 0px 0px 10.4%;
    z-index: 2;
  }
  .services__imgUnit.four img {
    width: 70%;
  }
  .services__imgUnit.five {
    margin: -5vw 0px 0px 16%;
    z-index: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__imgUnit.five img {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .h2 {
    font-size: 5vw;
  }
  .services__menu {
    margin: 0 2.5%;
  }
  .services__menuUnit {
    font-size: 15px;
    margin: 15px 0px 0px 0px;
  }
  .services__menuUnit:first-child {
    margin: 15px 0 0 0;
  }
  .services__menuUnit.active {
    font-size: 20px;
  }
  .services__imgUnit.first {
    margin: 10vw 0 0 0;
  }
  .services__imgUnit.second {
    margin: 19vw 0 0 13.23%;
  }
  .services__imgUnit.four {
    margin: -14vw 0px 0px 5.4%;
    z-index: 2;
  }
  .services__imgUnit.five {
    margin: -1vw 0px 0px 0;
    z-index: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__imgUnit.five img {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .h2 {
    font-size: 6vw;
  }
  .services__menu {
    margin: 0 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__menuUnit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    position: relative;
    font-size: 13px;
    margin: 15px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__menuUnit:first-child {
    margin: 15px 0 0 0;
  }
  .services__menuUnit.active {
    font-size: 14px;
  }
  .services__info-content {
    padding: 25px 5.209% 0px 5.209%;
    position: relative;
  }
  .services__infoUnit {
    width: 90vw;
    position: absolute;
  }
  .services__info-img {
    margin: 40vw 0px 0px 0px;
  }
  .services__imgUnit.first {
    margin: -10vw 0 0 0;
  }
  .services__imgUnit.second {
    margin: -15vw 0 0 -3.23%;
  }
  .services__imgUnit.second img {
    width: 100%;
  }
  .services__imgUnit.four {
    margin: -15vw 0px 0px -25.4%;
    z-index: 2;
  }
  .services__imgUnit.four img {
    width: 100%;
  }
  .services__imgUnit.five {
    margin: 10vw 0px 0px 0;
    z-index: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__imgUnit.five img {
    width: 70%;
  }
}

.portfolio {
  padding: 0 10vw 1.5vw;
}

.portfolio__title {
  text-align: center;
  margin: 5.2vw 0px 2.5vw 0px;
}

.portfolio__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.portfolio__category-batton {
  font-family: Ubuntu;
  line-height: 1.2;
  font-weight: 300;
  font-size: 1.5vw;
  height: 3.1vw;
  width: 12.8vw;
  border: 1px solid #454545;
}

.portfolio__category-batton span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5% 0;
}

.portfolio__category-batton span span {
  margin: 0px 0px 0px 0.5vw;
}

.portfolio__category-batton:hover {
  border: 1px solid #b69b67;
}

.portfolio__category-batton:hover span {
  color: #b69b67;
}

.portfolio__category-batton:hover span span:before {
  background-color: #b69b67;
}

.portfolio__category-batton:hover span span:after {
  background-color: #b69b67;
}

.portfolio__category-batton.active {
  border-bottom: 1px solid #303030;
}

.portfolio__category-batton.active:after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 11.2vw;
  height: 1px;
  margin: 0 0.8vw;
  background-color: #454545;
}

.portfolio__category-batton.active:hover {
  border: 1px solid #454545;
  border-bottom: 1px solid #303030;
}

.portfolio__category-batton span {
  position: relative;
  text-align: center;
  display: block;
  width: 12.7vw;
  color: #b4b4b4;
  text-decoration: none;
}

.portfolio__category-batton span span {
  display: inline-block;
  width: 1.3vw;
  height: 1vw;
  position: relative;
}

.portfolio__category-batton span span:before {
  content: "";
  display: inline-block;
  width: 1vw;
  height: 1px;
  position: absolute;
  top: 0.7vw;
  left: -0.19vw;
  background-color: #b4b4b4;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.portfolio__category-batton span span:after {
  position: absolute;
  top: 0.7vw;
  right: -0.19vw;
  content: "";
  display: inline-block;
  width: 1vw;
  height: 1px;
  background-color: #b4b4b4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.portfolio__category-batton span span.active:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio__category-batton span span.active:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio__category-row {
  width: 12.8vw;
}

.portfolio__category-list {
  padding: 1% 0px 0px 0px;
  margin: 0 auto;
  z-index: 10;
  width: 12.8vw;
  background-color: #303030;
  border: 1px solid #454545;
  border-top: none;
  position: absolute;
  display: none;
}

.portfolio__category-list.active {
  display: block;
}

.portfolio__category-unit {
  font-family: Ubuntu;
  font-size: 1.5vw;
  height: 3.1vw;
  width: 12.8vw;
  line-height: 1.2;
  font-weight: 300;
}

.portfolio__category-unit a {
  display: block;
  width: 12.7vw;
  text-align: center;
  text-decoration: none;
  color: #b4b4b4;
}

.portfolio__category-unit:hover a {
  color: #b69b67;
}

.portfolio__category-unit.active {
  display: none;
}

.swiper-container {
  margin-top: 3.6vw;
  height: 30vw;
}

.swiper-slide {
  height: 13vw;
}

.swiper-slide__image {
  z-index: 1;
  position: absolute;
  height: 13vw;
  overflow: hidden;
  width: 100%;
}

.swiper-slide__image img {
  height: 100%;
}

.swiper-slide__info-card {
  height: 14vw;
  overflow: hidden;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.5);
  z-index: 3;
  height: inherit;
  width: inherit;
}

.swiper-slide__info-card:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(105, 86, 49, 0.9);
}

.swiper-slide__info-card:hover .swiper-slide__background,
.swiper-slide__info-card:hover .swiper-slide__info {
  display: none;
}

.swiper-slide__info-card:hover .swiper-slide__hover-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide__background {
  margin-left: 52%;
  width: 100%;
  position: absolute;
  background-color: #b69b67;
  z-index: 3;
  height: 100%;
}

.swiper-slide__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 4;
  margin: 0px 0px 0px 52%;
  width: 48%;
}

.swiper-slide__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
          flex: 0 0 34%;
  margin: 1.3vw;
  z-index: 4;
  font-family: Ubuntu;
  font-size: 1.57vw;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.swiper-slide__outline {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 700%;
          flex: 1 1 700%;
  position: relative;
  right: 6vw;
  z-index: 4;
}

.swiper-slide__outline:before {
  content: "";
  display: block;
  height: 1px;
  background-color: #303030;
  width: 19vw;
}

.swiper-slide__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin: 1.2vw;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-slide__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 4;
  font-family: Ubuntu;
  font-size: 0.788vw;
  line-height: 20px;
  font-weight: 500;
  color: #303030;
}

.swiper-slide__category {
  text-align: end;
  font-family: Ubuntu;
  line-height: 20px;
  color: #303030;
  font-size: 0.788vw;
  font-weight: 300;
  font-style: italic;
}

.swiper-slide__hover-button {
  display: none;
  width: 16vw;
  height: 3.6vw;
  z-index: 5;
  position: absolute;
  background-color: #b69b67;
}

.swiper-slide__hover-button a {
  font-family: Ubuntu;
  font-size: 30px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #303030;
}

.swiper-pagination {
  color: #454545;
  font-family: Ubuntu;
  font-size: 1vw;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  top: 1px;
  width: 2.3vw;
  height: 1vw;
  z-index: 10;
  cursor: pointer;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  background: url("data:image/svg+xml,%3Csvg width='23' height='40' viewBox='0 0 23 40' fill='none' xmlns='www.w3.org/2000/svg'%3E%3Cline x1='1.93934' y1='38.9393' x2='21.9393' y2='18.9393' stroke='black' stroke-width='3'/%3E%3Cline y1='-1.5' x2='28.2843' y2='-1.5' transform='matrix(0.707107 0.707107 0.707107 -0.707107 3 0)' stroke='black' stroke-width='3'/%3E%3C/svg%3E%0A") no-repeat center;
  overflow: hidden;
  font-family: Ubuntu;
  font-size: 0.8vw;
  font-weight: 500;
  text-transform: uppercase;
  color: #b4b4b4;
}

.swiper-button-prev {
  margin: 0 20px 0 30px;
}

.swiper-button-next {
  margin: 0 30px 0 20px;
}

.invision {
  position: absolute;
  z-index: 0;
}

.swiper-pagination {
  display: inline;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  display: none;
  width: 0;
  height: 0;
}

.noLink {
  pointer-events: none;
}

.highlighter {
  color: #b69b67;
}

@media (max-width: 1500px) {
  .portfolio__title {
    margin: 3.5vw 0px 2vw 0px;
  }
  .swiper-container {
    margin-top: 2.6vw;
    height: 31vw;
  }
  .swiper-slide {
    height: 12vw;
  }
  .swiper-slide__image {
    height: 12vw;
  }
  .swiper-slide__info-card {
    height: 12vw;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    height: inherit;
  }
  .swiper-slide__background {
    margin-left: 40%;
  }
  .swiper-slide__info {
    margin: 0px 0px 0px 40%;
    width: 60%;
  }
  .swiper-slide__title {
    margin: 0.3vw 1.5vw;
  }
  .swiper-slide__row {
    margin: 0.3vw;
  }
  .swiper-pagination {
    height: 2vw;
    font-size: 1.5vw;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 2vw;
    width: 5vw;
    line-height: 1.8;
    font-size: 1.5vw;
  }
}

@media (max-width: 1000px) {
  .portfolio {
    padding: 0 20vw 1.5vw;
  }
  .portfolio__title {
    margin: 2.5vw 0px 1.5vw 0px;
  }
  .swiper-slide {
    height: 11vw;
  }
  .swiper-slide__image {
    height: 11vw;
  }
  .swiper-slide__info-card {
    height: 11vw;
  }
  .swiper-slide__content {
    display: none;
  }
  .swiper-slide__title {
    font-size: 3vw;
  }
  .swiper-slide__category {
    font-size: 2vw;
  }
  .swiper-pagination {
    height: 3vw;
    font-size: 3vw;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 3vw;
    font-size: 3vw;
    width: 8vw;
    line-height: 1.2;
  }
  .portfolio__category-batton {
    height: 6.2vw;
    width: 25.6vw;
    font-size: 3vw;
  }
  .portfolio__category-batton span {
    width: 25.6vw;
  }
  .portfolio__category-batton span span {
    width: 3vw;
  }
  .portfolio__category-batton span span:before {
    left: -0.19vw;
    width: 2vw;
    top: 1.7vw;
  }
  .portfolio__category-batton span span:after {
    top: 1.7vw;
    right: -0.19vw;
    width: 2vw;
  }
  .portfolio__category-row {
    width: 25.6vw;
    height: 1px;
  }
  .portfolio__category-list {
    width: 25.6vw;
  }
  .portfolio__category-unit {
    margin: auto;
    font-size: 2vw;
    height: 5.2vw;
  }
}

@media (max-width: 600px) {
  .swiper-slide {
    height: 20vw;
  }
  .swiper-slide__image {
    height: 20vw;
  }
  .swiper-slide__info-card {
    height: 20vw;
  }
  .swiper-slide__title {
    font-size: 4vw;
  }
  .swiper-slide__category {
    font-size: 3vw;
  }
  .portfolio__category-batton {
    height: 6.2vw;
    width: 25.6vw;
    font-size: 3vw;
  }
  .portfolio__category-batton span {
    width: 25.6vw;
  }
  .portfolio__category-batton span span {
    width: 3vw;
  }
  .portfolio__category-batton span span:before {
    left: -0.19vw;
    width: 2vw;
    top: 1.7vw;
  }
  .portfolio__category-batton span span:after {
    top: 1.7vw;
    right: -0.19vw;
    width: 2vw;
  }
}
