@import "_null";
/*and*/
@mixin flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 980px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 980px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

//@import "_header";

@import "_app";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
input {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #303030 !important; /* Цвет фона */
  -webkit-text-fill-color: #707070 !important; /* цвет текста */
  color: #707070 !important; /* цвет текста */
}
html,
body {
  height: 100%;
  background: #303030;
}
body.lock {
  overflow: hidden;
  background-color: #303030;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #303030;
}

.fullscreen {
  min-height: 100vh;
  background-color: #303030;
}
.top {
  display: flex;
  &__body {
    width: 100%;
    min-height: (1080/2190) * 100vw;
    position: relative;
    z-index: 1;
  }

  &__logo {
    width: 29.8%;
    display: inline-block;
    margin: 4.4% 35.1% 0;
    padding-left: (88.01/1920) * 100%;
    img {
      width: 100%;
    }
  }
  //@-webkit-keyframes clock {
  //  from {
  //    -webkit-transform: rotate(0deg);
  //  }
  //  to {
  //    -webkit-transform: rotate(360deg);
  //  }
  //}
  //@-moz-keyframes clock {
  //  from {
  //    -moz-transform: rotate(0deg);
  //  }
  //  to {
  //    -moz-transform: rotate(360deg);
  //  }
  //}
  //@-keyframes clock {
  //  from {
  //    transform: rotate(0deg);
  //  }
  //  to {
  //    transform: rotate(360deg);
  //  }
  //}
  &__clock {
    position: absolute;
    top: (200/980) * 100%;
    width: 25vw;
    height: 25vw;
    margin: 0 37.37%;
    #hour {
      position: absolute;
      width: 100%;
      height: 100%;
      //img.hour {
      // -webkit-animation: clock 216s steps(60, end) infinite;
      //-moz-animation: clock 216s steps(60, end) infinite;
      // animation: clock 216s steps(60, end) infinite;
      //}
    }
    #minute {
      position: absolute;
      width: 100%;
      height: 100%;
      //img.minute {
      //-webkit-animation: clock 36s steps(60, end) infinite;
      //-moz-animation: clock 36s steps(60, end) infinite;
      //animation: clock 36s steps(60, end) infinite;
      //}
    }
    .second {
      position: absolute;
      height: (60/1920) * 100vw;
      width: (60/1920) * 100vw;
      left: (215/1920) * 100vw;
      top: (258/1920) * 100vw;
      img {
        height: 80%;
        width: 80%;
        // -webkit-animation: clock 6s steps(60, end) infinite;
        //-moz-animation: clock 6s steps(60, end) infinite;
        //animation: clock 6s steps(60, end) infinite;
      }
    }
    img {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    position: absolute;
    bottom: (314/980) * 100%;
    width: 74%;
    margin: 0 13%;
    font-family: Ubuntu;
    text-align: center;
    font-size: 3.1vw;
    font-weight: 400;
    text-transform: uppercase;
    color: hsl(39, 50%, 41%);
  }

  &__scroll {
    position: absolute;
    width: 100%;
    top: (820/980) * 100%;
    display: block;

    margin: 0 auto;

    -webkit-animation: 1s linear 0s infinite alternate scrolling;
    -moz-animation: 1s linear 0s infinite alternate scrolling;
    -o-animation: 1s linear 0s infinite alternate scrolling;
    animation: 1s linear 0s infinite alternate scrolling;
    a {
      text-align: center;
      display: block;
      width: 100%;
      font-family: Ubuntu;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #454545;
      &:after {
        content: "";
        background-image: url(/img/down_192.png);
        display: block;
        width: 46px;
        height: 25px;
        margin: 14px auto 0;
      }
    }
  }

  &__menu {
    position: absolute;
    top: (263/980) * 100%;
    left: (199/1920) * 100%;
    width: (1521/1920) * 100%;
    height: (690/980) * 100%;
    background-color: #303030;
    z-index: 5;
    display: none;
    flex-direction: column;
    border: 1px solid #454545;
  }
  &__menu-h2 {
    display: flex;
    flex: 0 0 20.3%;
    align-items: center;
    justify-content: center;
    z-index: 7;
  }
  &__boxMenu {
    display: flex;
    flex: 0 0 79.7%;
  }
  &__menu-imgBox {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: (684/690) * 100%;
    width: (1029/1521) * 100%;
    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      bottom: 0px;
      width: 100%;
    }
  }
  &__menu-nav {
    flex: 0 0 25.5%;
    padding-left: 8.3%;
    margin-top: -0.4%;
    a {
      font-family: Ubuntu;
      @include adaptiv-font(30, 16);
      line-height: 1.2;
      font-weight: 300;
      text-transform: uppercase;
      color: #b4b4b4;
    }
    z-index: 7;
    li {
      margin-bottom: 13.5%;
      &:last-child {
        margin: 0;
      }
    }
    li a {
      position: relative;
      &:hover {
        font-weight: 400;
        color: #b69b67;
        overflow: hidden;
      }
      &:hover {
        span:before {
          content: "";
          display: block;
          position: absolute;
          top: -10%;
          background-color: #b69b67;
          width: 100%;
          height: 1px;
        }
      }
    }
  }
  &__menu-box {
    flex: 0 0 74.5%;
    display: flex;
  }
  &__menu-log {
    flex: 0 0 45.8%;
    z-index: 7;
    margin-top: -0.5%;
    a {
      font-family: Ubuntu;
      @include adaptiv-font(30, 16);
      line-height: 1.2;
      font-weight: 300;
      text-transform: uppercase;
      color: #695631;
    }
    li {
      margin-bottom: 6.9%;
    }
    li a {
      &:hover {
        color: #b4b4b4;
      }
    }
  }

  &__menu-search {
    margin-top: -0.6%;
    flex: 0 0 43%;
    z-index: 7;
    input[type="text"] {
      border-bottom: 1px solid #cccccc;
      width: 100%;
      background: url(/img/search_430.png) right no-repeat;
      background-size: contain;
      @include adaptiv-font(30, 16);
    }
  }
}

.field {
  width: 100%;

  font-family: Ubuntu;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #454545;
  background-color: #00000000;
}
.active {
  display: flex;
}
h2 {
  font-family: PlayfairDisplaySC;
  font-stretch: ultra-condensed;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
}
.box {
  border: 2px solid #454545;
  background: #303030;
  position: absolute;
  top: (263/980) * 100vh;
  right: (200/1920) * 100vw;
  width: 82px;
  height: 82px;
  z-index: 6;
  cursor: pointer;
  &:hover {
    border: 2px solid #b59c6b;
    .header_burger:before,
    .header_burger:after {
      background-color: #b59c6b;
    }
    .header_burger span {
      background-color: #b59c6b;
    }
  }
}
.header_burger {
  position: relative;
  display: block;
  width: 82px;
  height: 82px;
}
.header_burger span {
  position: absolute;
  background-color: #999999;
  left: 13px;
  width: 52px;
  height: 2px;
  top: 38px;
  transition: all 0.5s ease 0s;
}
.header_burger:before,
.header_burger:after {
  content: "";
  background-color: #999999;
  position: absolute;
  width: 52px;
  height: 2px;
  left: 13px;
  transition: all 0.3s ease-in 0s;
}
.header_burger:before {
  top: 20px;
}
.header_burger:after {
  bottom: 24px;
}

.header_burger.active:before {
  transform: rotate(45deg);
  top: 38px;
  left: 4px;
  width: 70px;
}
.header_burger.active:after {
  transform: rotate(-45deg);
  bottom: 42px;
  left: 4px;
  width: 70px;
}
.header_burger.active span {
  transform: scale(0);
}

.header__nav.active {
  top: 0;
  overflow: auto;
}

@-webkit-keyframes scrolling {
  from {
    top: (820/980) * 100%;
  }
  to {
    top: (845/980) * 100%;
  }
}
@-moz-keyframes scrolling {
  from {
    top: (820/980) * 100%;
  }
  to {
    top: (845/980) * 100%;
  }
}
@-o-keyframes scrolling {
  from {
    top: (820/980) * 100%;
  }
  to {
    top: (845/980) * 100%;
  }
}
@keyframes scrolling {
  from {
    top: (820/980) * 100%;
  }
  to {
    top: (845/980) * 100%;
  }
}
h3 {
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4b4b4;
  font-stretch: ultra-condensed;
}
.popupSocialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: (229/746) * 100%;
  height: (73/100) * 100%;
  border: 1px solid;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 0px 0px (30/746) * 100%;
  &:first-child {
    margin: 0px;
  }
}
.popup {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #303030a0;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s ease 0s;

  &__body {
    margin: 0 28vw;
    position: absolute;
    top: 263px;
    z-index: 5;
    width: (846/1935) * 100vw;
    background-color: #303030;
    border: 1px solid #b4b4b4;
    padding: 1.808vw 2.531vw 2.531vw 2.531vw;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__top-h2 {
    margin-bottom: (25/590) * 100%;
  }

  &__top-h3 {
    margin-bottom: (15/590) * 100%;
  }

  &__top-case {
    display: flex;
    width: 100%;
    height: (100/1920) * 100vw;
    margin-bottom: 20px;
  }
  &__bottom-h3 {
    margin-bottom: (20/1920) * 100vw;
  }
  &__form {
    input[type="text"] {
      padding-left: (27/1920) * 100vw;
    }
    input[type="password"] {
      padding-left: (27/1920) * 100vw;
    }
    input[type="email"] {
      padding-left: (27/1920) * 100vw;
    }
  }

  &__form > .field {
    height: 3.771vw;
    border: 1px solid #b4b4b4;
    margin-bottom: (24/1920) * 100vw;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  //&__bottom-button {
  //}
}
.password {
  display: inline-block;
  width: 64.6%;
  margin: 0px 4% 0px 0px;
}
.password.in {
  width: 100%;
}
.button {
  position: relative;
  width: 30.4%;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #303030;
  height: (73/1935) * 100vw;
  background-color: #b69b67;
  &:hover {
    color: #b69b67;
    background-color: #303030;
    border: 1px solid #b69b67;
  }
}
.button.in {
  margin: 0 35%;
}
.facebook {
  color: #3b5998;
  border-color: #3b5998;
  &:hover {
    color: #303030;
    background-color: #3b5998;
  }
}
.google {
  color: #dd4b39;
  border-color: #dd4b39;
  &:hover {
    color: #303030;
    background-color: #dd4b39;
  }
}
.twitter {
  border-color: #1da1f2;
  color: #1da1f2;
  &:hover {
    color: #303030;
    background-color: #1da1f2;
  }
}
//.field {
//}
#popup_in {
  opacity: 0;
  visibility: hidden;
}
#popup_in.open {
  opacity: 1;
  visibility: visible;
}
#popup_up {
  opacity: 0;
  visibility: hidden;
}
#popup_up.open {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 980px) {
  .box {
    top: (160/980) * 100vh;
    right: (260/1920) * 100vw;
    width: 44px;
    height: 44px;
  }
  .header_burger {
    width: 30px;
    height: 20px;
    margin: 10px 5px;
  }
  .header_burger span {
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header_burger:before,
  .header_burger:after {
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }

  .header_burger.active:before {
    width: 100%;
    left: 0;
    top: 9px;
  }
  .header_burger.active:after {
    bottom: 9px;
    left: 0;
    width: 100%;
  }
  .top__scroll {
    bottom: 700px;

    a {
      @include adaptiv-font(20, 14);
      &:after {
        content: "";
        background-image: url(/img/down_192.png);
        display: block;
        width: 46px;
        height: 25px;
        margin: 4px auto 0;
      }
    }
  }
  .top__menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .top__menu-h2 {
    flex: 0 0 25.3%;
  }
  .top__menu-nav {
    height: (450/690) * 100%;
    flex: 0 0 50%;
    li {
      margin: 0px 0px 7% 0px;
    }
  }
  .top__menu-log {
    display: inline-block;
    flex: 0 0 60.3%;
  }
  .top__menu-box {
    height: (450/690) * 100%;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: space-between;
  }

  .top__menu-search {
    width: (360/980) * 100vw;
    flex: 0 0 10%;
    z-index: 7;

    input[type="text"] {
      border-bottom: 1px solid #cccccc;
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
}

.services {
  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 100px 0px 45px 0px;
    justify-content: center;
    text-align: center;
    font-size: 120px;
    z-index: 1;
  }

  &__row {
    display: flex;
  }

  &__menu {
    margin: 0px 0px 0px 225px;
    flex: 0 0 21%;
  }

  &__menuUnit {
    width: auto;
    font-family: Ubuntu;
    margin-top: 65px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
    color: #b4b4b4;
    cursor: pointer;
    &:first-child {
      margin-top: 20px;
    }
  }
  &__menuUnit.active {
    position: relative;
    font-size: 60px;
    color: #b69b67;
    & span {
      position: relative;
      display: inline;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        top: -1px;
        display: block;
        height: 1px;
        background-color: #b69b67;
      }
      &:after {
        content: "";
        position: absolute;
        top: 63px;
        display: block;
        width: 337px;
        height: 1px;
        background-color: #454545;
      }
    }
  }

  &__info {
    flex: 1 1 40%;
    display: flex;
  }

  &__info-content {
    height: 75%;
    position: absolute;
    padding: 55px 0px 0px 5.209%;
  }

  &__infoUnit {
    display: block;
    width: 500px;
    text-align: justify;
    font-family: Ubuntu;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    color: #b4b4b4;
    visibility: hidden;
    & a {
      display: inline;
      color: #b69b67;
      width: 10%;
      margin: 10px;
    }
    &.active {
      visibility: visible;
    }
  }

  &__info-img {
    width: 100%;
  }

  &__imgUnit {
    display: none;
    img {
      width: 100%;
    }
    &.second {
      margin: 7vw 0 0 16.23%;
    }
    &.four {
      margin: -20vw 0px 0px -5.4%;
      z-index: 2;
    }
    &.five {
      margin: -10vw 0px 0px 6%;
      z-index: 2;
    }
    &.active {
      display: flex;
    }
  }
}
//.2 {
//width: 75%;
//height: 75%;
/*img {
    width: 100%;
    height: 100%;
  }*/
//}
.h2 {
  font-family: PlayfairDisplaySC;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
}
@media (max-width: 1710px) {
  .services {
    &__menuUnit {
      font-size: 25px;
      &.active {
        font-size: 50px;
      }
    }
  }
}
.contebt {
  display: none;
}
@media (max-width: 1500px) {
  .services {
    &__row {
      flex-direction: column;
    }
    &__menu {
      z-index: 3;
      display: flex;
      flex-direction: row;
      margin: 0;
      justify-content: space-around;
    }
    &__menuUnit {
      font-size: 20px;
      margin: 45px 0 0 0;
      &:first-child {
        margin: 45px 0 0 0;
      }
    }
    &__menuUnit.active {
      font-size: 35px;
      span {
        &::after {
          display: none;
        }
      }
    }
    &__infoUnit {
      font-size: 15px;
    }
    &__imgUnit {
      &.first {
        img {
          width: 70%;
        }
      }
      &.second {
        img {
          width: 70%;
        }
        margin: 7vw 0 0 23.23%;
      }
      &.four {
        img {
          width: 70%;
        }
        margin: -18vw 0px 0px 10.4%;
        z-index: 2;
      }
      &.five {
        img {
          width: 60%;
        }
        margin: -5vw 0px 0px 16%;
        z-index: 2;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media (max-width: 1000px) {
  .services {
    &__menu {
      margin: 0 2.5%;
    }
    &__menuUnit {
      font-size: 15px;
      margin: 15px 0px 0px 0px;
      &:first-child {
        margin: 15px 0 0 0;
      }
    }
    &__menuUnit.active {
      font-size: 20px;
    }

    &__imgUnit {
      &.first {
        margin: 10vw 0 0 0;
      }
      &.second {
        margin: 19vw 0 0 13.23%;
      }
      &.four {
        margin: -14vw 0px 0px 5.4%;
        z-index: 2;
      }
      &.five {
        margin: -1vw 0px 0px 0;
        z-index: 2;
        justify-content: center;
        align-items: center;
        img {
          width: 50%;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .services {
    &__menu {
      margin: 0 5%;
      flex-wrap: wrap;
    }
    &__menuUnit {
      flex: 0 0 30%;
      position: relative;
      font-size: 13px;
      margin: 15px 0px 0px 0px;
      display: flex;
      justify-content: center;
      &:first-child {
        margin: 15px 0 0 0;
      }
    }
    &__menuUnit.active {
      font-size: 14px;
    }
    &__info-content {
      padding: 25px 5.209% 0px 5.209%;
      position: relative;
    }
    &__infoUnit {
      width: 90vw;
      position: absolute;
    }
    &__info-img {
      margin: 40vw 0px 0px 0px;
    }
    &__imgUnit {
      &.first {
        margin: -10vw 0 0 0;
      }
      &.second {
        margin: -15vw 0 0 -3.23%;
        img {
          width: 100%;
        }
      }
      &.four {
        margin: -15vw 0px 0px -25.4%;
        z-index: 2;
        img {
          width: 100%;
        }
      }
      &.five {
        margin: 10vw 0px 0px 0;
        z-index: 2;
        justify-content: center;
        align-items: center;
        img {
          width: 70%;
        }
      }
    }
  }
}

.portfolio {
  margin: 0 10vw;
  &__title {
    text-align: center;
    margin: 5.2vw 0px 0px 0px;
  }

  &__row {
  }

  &__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__category-batton {
    font-family: Ubuntu;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    border: 1px solid #454545;
    &:hover {
      border: 1px solid #b69b67;
      span {
        color: #b69b67;
        span {
          &:before {
            background-color: #b69b67;
          }
          &:after {
            background-color: #b69b67;
          }
        }
      }
    }
    &.active {
      border-bottom: 1px solid #303030;
      &:hover {
        border: 1px solid #454545;
        border-bottom: 1px solid #303030;
      }
    }
    span {
      position: relative;
      text-align: center;
      display: block;
      width: 12.7vw;
      color: #b4b4b4;
      text-decoration: none;

      span {
        display: inline-block;
        width: 1.3vw;
        height: 1vw;
        position: relative;
        &:before {
          content: "";
          display: inline-block;
          width: 1vw;
          height: 1px;
          position: absolute;
          top: 0.7vw;
          left: -0.19vw;

          background-color: #b4b4b4;
          transform: rotate(45deg);
          transition: transform 0.3s ease;
        }
        &:after {
          position: absolute;
          top: 0.7vw;
          right: -0.19vw;
          content: "";
          display: inline-block;
          width: 1vw;
          height: 1px;
          background-color: #b4b4b4;
          transform: rotate(-45deg);
          transition: transform 0.3s ease;
        }
        &.active {
          &:before {
            transform: rotate(-45deg);
          }
          &:after {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  &__category-row {
    width: 12.7vw;
  }
  &__category-list {
    margin: 0 auto;
    z-index: 10;
    background-color: #303030;
    border: 1px solid #454545;
    border-top: none;
    position: absolute;
    display: none;
    &.active {
      display: block;
    }
  }

  &__category-unit {
    //display: none;
    font-family: Ubuntu;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    a {
      display: block;
      width: 12.7vw;
      text-align: center;
      text-decoration: none;
      color: #b4b4b4;
    }
    &:hover {
      a {
        color: #b69b67;
      }
    }
  }

  &__slider {
  }
}
.swiper-container {
  height: 35vw;
}
.swiper-wrapper {
}
.swiper-slide {
  height: 14vw;
  //overflow: hidden;
  &__image {
    z-index: 1;
    position: absolute;
    height: 14vw;
    overflow: hidden;
    img {
      //height: 100%;
      height: 100%;
    }
  }

  &__info-card {
    height: 14vw;
    overflow: hidden;
    position: absolute;
    background-color: rgba($color: #303030, $alpha: 0.5);

    z-index: 3;
    height: inherit;
    width: inherit;
    &:hover {
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide__background,
      .swiper-slide__info {
        display: none;
      }
      .swiper-slide__hover-button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      background-color: rgba($color: #695631, $alpha: 0.9);
    }
  }

  &__background {
    margin-left: 52%;
    width: 100%;
    position: absolute;
    background-color: #b69b67;
    z-index: 3;
    height: 100%;
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    margin: 0px 0px 0px 52%;
    width: 48%;
  }

  &__title {
    flex: 0 0 34%;
    margin: 1.3vw;
    z-index: 4;
    font-family: Ubuntu;
    font-size: 1.57vw;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__outline {
    flex: 1 1 700%;
    position: relative;
    right: 6vw;
    z-index: 4;
    &:before {
      content: "";
      display: block;
      height: 1px;
      background-color: #303030;
      width: 19vw;
    }
  }

  &__row {
    flex: 0 0 30%;
    margin: 1.3vw;
    z-index: 4;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1 1 auto;
    z-index: 4;
    font-family: Ubuntu;
    font-size: 0.788vw;
    line-height: 20px;
    font-weight: 500;
    color: #303030;
  }

  &__category {
    text-align: end;
    font-family: Ubuntu;
    line-height: 20px;
    color: #303030;
    font-size: 0.788vw;
    font-weight: 300;
    font-style: italic;
  }

  &__hover-button {
    display: none;
    width: 16vw;
    height: 3.6vw;
    z-index: 5;
    position: absolute;
    background-color: #b69b67;

    a {
      font-family: Ubuntu;
      font-size: 30px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      color: #303030;
    }
  }
}
.swiper-button-prev {
}
.swiper-button-next {
}
.noLink {
  pointer-events: none;
}
