@import "_null";
/*and*/
@mixin flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 980px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }
  @media (min-width: 980px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

//@import "_header";

@import "_app";
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");
input {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #303030 !important; /* Цвет фона */
  -webkit-text-fill-color: #707070 !important; /* цвет текста */
  color: #707070 !important; /* цвет текста */
}
html,
body {
  height: 100%;
}
body.lock {
  overflow: hidden;
  background-color: #101010;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fullscreen {
  min-height: 100vh;
  background-color: #101010;
}
.top {
  display: flex;
  &__body {
    width: 100%;
    min-height: (1080/2190) * 100vw;
    position: relative;
    z-index: 1;
  }

  &__logo {
    width: 29.8%;
    display: inline-block;
    margin: 4.4% 35.1% 0;
    padding-left: (88.01/1920) * 100%;
    img {
      width: 100%;
    }
  }
  //@-webkit-keyframes clock {
  //  from {
  //    -webkit-transform: rotate(0deg);
  //  }
  //  to {
  //    -webkit-transform: rotate(360deg);
  //  }
  //}
  //@-moz-keyframes clock {
  //  from {
  //    -moz-transform: rotate(0deg);
  //  }
  //  to {
  //    -moz-transform: rotate(360deg);
  //  }
  //}
  //@-keyframes clock {
  //  from {
  //    transform: rotate(0deg);
  //  }
  //  to {
  //    transform: rotate(360deg);
  //  }
  //}
  &__clock {
    position: absolute;
    top: (200/980) * 100%;
    width: 25vw;
    height: 25vw;
    margin: 0 37.37%;
    .hour {
      position: absolute;
      width: 100%;
      height: 100%;
      img.hour {
        // -webkit-animation: clock 216s steps(60, end) infinite;
        //-moz-animation: clock 216s steps(60, end) infinite;
        // animation: clock 216s steps(60, end) infinite;
      }
    }
    .minute {
      position: absolute;
      width: 100%;
      height: 100%;
      img.minute {
        //-webkit-animation: clock 36s steps(60, end) infinite;
        //-moz-animation: clock 36s steps(60, end) infinite;
        //animation: clock 36s steps(60, end) infinite;
      }
    }
    .second {
      position: absolute;
      height: (60/1920) * 100vw;
      width: (60/1920) * 100vw;
      left: (215/1920) * 100vw;
      top: (258/1920) * 100vw;
      img {
        height: 80%;
        width: 80%;
        // -webkit-animation: clock 6s steps(60, end) infinite;
        //-moz-animation: clock 6s steps(60, end) infinite;
        //animation: clock 6s steps(60, end) infinite;
      }
    }
    img {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    position: absolute;
    bottom: (314/980) * 100%;
    width: 74%;
    margin: 0 13%;
    font-family: Ubuntu;
    text-align: center;
    font-size: 3.1vw;
    font-weight: 400;
    text-transform: uppercase;
    color: hsl(39, 50%, 41%);
  }

  &__scroll {
    position: absolute;
    width: 100%;
    top: (820/980) * 100%;
    display: block;

    margin: 0 auto;

    -webkit-animation: 1s linear 0s infinite alternate scrolling;
    -moz-animation: 1s linear 0s infinite alternate scrolling;
    -o-animation: 1s linear 0s infinite alternate scrolling;
    animation: 1s linear 0s infinite alternate scrolling;
    a {
      text-align: center;
      display: block;
      width: 100%;
      font-family: Ubuntu;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #454545;
      &:after {
        content: "";
        background-image: url(/img/down_192.png);
        display: block;
        width: 46px;
        height: 25px;
        margin: 14px auto 0;
      }
    }
  }

  &__menu {
    position: absolute;
    top: (263/980) * 100%;
    left: (199/1920) * 100%;
    width: (1521/1920) * 100%;
    height: (690/980) * 100%;
    background-color: #303030;
    z-index: 5;
    display: none;
    flex-direction: column;
    border: 1px solid #454545;
  }
  &__menu-h2 {
    display: flex;
    flex: 0 0 20.3%;
    align-items: center;
    justify-content: center;
    z-index: 7;
  }
  &__boxMenu {
    display: flex;
    flex: 0 0 79.7%;
  }
  &__menu-imgBox {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: (684/690) * 100%;
    width: (1029/1521) * 100%;
    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      bottom: 0px;
      width: 100%;
    }
  }
  &__menu-nav {
    flex: 0 0 25.5%;
    padding-left: 8.3%;
    margin-top: -0.4%;
    a {
      font-family: Ubuntu;
      @include adaptiv-font(30, 16);
      line-height: 1.2;
      font-weight: 300;
      text-transform: uppercase;
      color: #b4b4b4;
    }
    z-index: 7;
    li {
      margin-bottom: 13.5%;
      &:last-child {
        margin: 0;
      }
    }
    li a {
      position: relative;
      &:hover {
        font-weight: 400;
        color: #b69b67;
        overflow: hidden;
      }
      &:hover {
        span:before {
          content: "";
          display: block;
          position: absolute;
          top: -10%;
          background-color: #b69b67;
          width: 100%;
          height: 1px;
        }
      }
    }
  }
  &__menu-box {
    flex: 0 0 74.5%;
    display: flex;
  }
  &__menu-log {
    flex: 0 0 45.8%;
    z-index: 7;
    margin-top: -0.5%;
    a {
      font-family: Ubuntu;
      @include adaptiv-font(30, 16);
      line-height: 1.2;
      font-weight: 300;
      text-transform: uppercase;
      color: #695631;
    }
    li {
      margin-bottom: 6.9%;
    }
    li a {
      &:hover {
        color: #b4b4b4;
      }
    }
  }

  &__menu-search {
    margin-top: -0.6%;
    flex: 0 0 43%;
    z-index: 7;
    input[type="text"] {
      border-bottom: 1px solid #cccccc;
      width: 100%;
      background: url(/img/search_430.png) right no-repeat;
      background-size: contain;
      @include adaptiv-font(30, 16);
    }
  }
}

.field {
  width: 100%;

  font-family: Ubuntu;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #454545;
  background-color: #00000000;
}
.active {
  display: flex;
}
h2 {
  font-family: PlayfairDisplaySC;
  font-stretch: ultra-condensed;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
}
.box {
  border: 2px solid #454545;
  background: #303030;
  position: absolute;
  top: (263/980) * 100vh;
  right: (200/1920) * 100vw;
  width: 82px;
  height: 82px;
  z-index: 6;
  cursor: pointer;
  &:hover {
    border: 2px solid #b59c6b;
    .header_burger:before,
    .header_burger:after {
      background-color: #b59c6b;
    }
    .header_burger span {
      background-color: #b59c6b;
    }
  }
}
.header_burger {
  position: relative;
  display: block;
  width: 82px;
  height: 82px;
}
.header_burger span {
  position: absolute;
  background-color: #999999;
  left: 13px;
  width: 52px;
  height: 2px;
  top: 38px;
  transition: all 0.5s ease 0s;
}
.header_burger:before,
.header_burger:after {
  content: "";
  background-color: #999999;
  position: absolute;
  width: 52px;
  height: 2px;
  left: 13px;
  transition: all 0.3s ease-in 0s;
}
.header_burger:before {
  top: 20px;
}
.header_burger:after {
  bottom: 24px;
}

.header_burger.active:before {
  transform: rotate(45deg);
  top: 38px;
  left: 4px;
  width: 70px;
}
.header_burger.active:after {
  transform: rotate(-45deg);
  bottom: 42px;
  left: 4px;
  width: 70px;
}
.header_burger.active span {
  transform: scale(0);
}

.header__nav.active {
  top: 0;
  overflow: auto;
}

@-webkit-keyframes scrolling {
  from {
    top: (820/980) * 100%;
  }
  to {
    top: (845/980) * 100%;
  }
}
@-moz-keyframes scrolling {
  from {
    top: (820/980) * 100%;
  }
  to {
    top: (845/980) * 100%;
  }
}
@-o-keyframes scrolling {
  from {
    top: (820/980) * 100%;
  }
  to {
    top: (845/980) * 100%;
  }
}
@keyframes scrolling {
  from {
    top: (820/980) * 100%;
  }
  to {
    top: (845/980) * 100%;
  }
}
h3 {
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4b4b4;
  font-stretch: ultra-condensed;
}
.popupSocialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: (229/746) * 100%;
  height: (73/100) * 100%;
  border: 1px solid;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  margin: 0px 0px 0px (30/746) * 100%;
  &:first-child {
    margin: 0px;
  }
}
.popup {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #303030a0;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.4s ease 0s;

  &__body {
    margin: 0 28vw;
    position: absolute;
    top: 263px;
    z-index: 5;
    width: (846/1935) * 100vw;
    background-color: #303030;
    border: 1px solid #b4b4b4;
    padding: 1.808vw 2.531vw 2.531vw 2.531vw;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__top-h2 {
    margin-bottom: (25/590) * 100%;
  }

  &__top-h3 {
    margin-bottom: (15/590) * 100%;
  }

  &__top-case {
    display: flex;
    width: 100%;
    height: (100/1920) * 100vw;
    margin-bottom: 20px;
  }
  &__bottom-h3 {
    margin-bottom: (20/1920) * 100vw;
  }
  &__form {
    input[type="text"] {
      padding-left: (27/1920) * 100vw;
    }
    input[type="password"] {
      padding-left: (27/1920) * 100vw;
    }
    input[type="email"] {
      padding-left: (27/1920) * 100vw;
    }
  }

  &__form > .field {
    height: 3.771vw;
    border: 1px solid #b4b4b4;
    margin-bottom: (24/1920) * 100vw;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bottom-button {
  }
}
.password {
  display: inline-block;
  width: 64.6%;
  margin: 0px 4% 0px 0px;
}
.password.in {
  width: 100%;
}
.button {
  position: relative;
  width: 30.4%;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #303030;
  height: (73/1935) * 100vw;
  background-color: #b69b67;
  &:hover {
    color: #b69b67;
    background-color: #303030;
    border: 1px solid #b69b67;
  }
}
.button.in {
  margin: 0 35%;
}
.facebook {
  color: #3b5998;
  border-color: #3b5998;
  &:hover {
    color: #303030;
    background-color: #3b5998;
  }
}
.google {
  color: #dd4b39;
  border-color: #dd4b39;
  &:hover {
    color: #303030;
    background-color: #dd4b39;
  }
}
.twitter {
  border-color: #1da1f2;
  color: #1da1f2;
  &:hover {
    color: #303030;
    background-color: #1da1f2;
  }
}
.field {
}
#popup_in {
  opacity: 0;
  visibility: hidden;
}
#popup_in.open {
  opacity: 1;
  visibility: visible;
}
#popup_up {
  opacity: 0;
  visibility: hidden;
}
#popup_up.open {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 980px) {
  .box {
    top: (160/980) * 100vh;
    right: (260/1920) * 100vw;
    width: 44px;
    height: 44px;
  }
  .header_burger {
    width: 30px;
    height: 20px;
    margin: 10px 5px;
  }
  .header_burger span {
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header_burger:before,
  .header_burger:after {
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }

  .header_burger.active:before {
    width: 100%;
    left: 0;
    top: 9px;
  }
  .header_burger.active:after {
    bottom: 9px;
    left: 0;
    width: 100%;
  }
  .top__scroll {
    bottom: 700px;

    a {
      @include adaptiv-font(20, 14);
      &:after {
        content: "";
        background-image: url(/img/down_192.png);
        display: block;
        width: 46px;
        height: 25px;
        margin: 4px auto 0;
      }
    }
  }
  .top__menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .top__menu-h2 {
    flex: 0 0 30.3%;
  }
  .top__menu-nav {
    height: (450/690) * 100%;
    flex: 0 0 50%;
    li {
      margin: 0px 0px 7% 0px;
    }
  }
  .top__menu-log {
    display: inline-block;
    flex: 0 0 60.3%;
  }
  .top__menu-box {
    height: (450/690) * 100%;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: space-between;
  }

  .top__menu-search {
    width: (360/980) * 100vw;
    flex: 0 0 10%;
    z-index: 7;

    input[type="text"] {
      border-bottom: 1px solid #cccccc;
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
}
